.navbar {
  background-color: whitesmoke; 
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 75px;
  margin-right: 10px;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle:focus {
  outline: 2px solid #e60023;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 2px;
}

.menu-toggle .hamburger.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle .hamburger.open:nth-child(2) {
  opacity: 0;
}

.menu-toggle .hamburger.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #e60023; 
}

.nav-link.active {
  font-weight: 700;
  border-bottom: 2px solid #e60023;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    background-color: #1a1a1a;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-links.open {
    max-height: 300px;
  }

  .nav-links li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .nav-link {
    display: block;
    padding: 1rem;
  }
}
